  <div class="row">
    <div class="col-md-2 mt-5">
      <div class="sticky-area">
        <%= render "layouts/links" %>
      </div>
    </div>
    <% if @users.exists? %>
      <%= render "users/index", users: @users %>
    <% else %>
      <div class="col-md-6 mt-5">
        <div class="d-flex justify-content-around">
          <div><%= link_to "フォロー", user_followings_path(@user), class: "btn btn-info" %></div>
          <div><%= link_to "フォロワー", user_followers_path(@user), class: "btn btn-info disabled" %></div>
        </div>
        <div class="text-center">
          <h2>ユーザーはいません</h2>
        </div>
      </div>
    <% end %>
    <div class="col-md-3 mt-5">
      <div class="sticky-area">
        <%= render "search/form" %>
      </div>
    </div>
  </div>
