  <div class="col-md-1 mt-5">
    <% users.each do |user| %>
    <td><%= attachment_image_tag(user, :profile_image, size: "48x48", fallback: "no_image.jpg") %></td>
  </div>
  <div class="col-md-5 mt-5">
    <div class="btn-toolbar">
      <span>
        <%= user.name %>
      </span>
        <div class="ml-auto">
          <% if current_user.following?(user) %> <!-- 部分テンプレート化 -->
            <%= link_to "フォローを外す", user_relationships_path(user.id), method: :delete, class: "btn btn-primary btn-sm" %>
          <% else %>
            <%= link_to "フォロー", user_relationships_path(user.id), method: :post, class: "btn btn-primary btn-sm" %>
          <% end %>
        </div>
    </div>
    <div>
      <%= user.introduction %>
    </div>
  </div>
  <% end %>