<div class="container">
  <div class="row">
    <div class="col-md-2 offset-1 mt-5">
      <%= render "layouts/links" %>
    </div>
    <div class="col-md-6 mt-5" style="width:300px;height:800px;overflow:auto;">
      <div>
        <% current_user.favorite_posts.each do |post| %>
          <div class="card mb-1 article">
            <div class="card-header bg-transparent">
              <%= link_to user_path(post.user), class: "text-decoration-none" do %>
                <%= attachment_image_tag(post.user, :profile_image, size: "40x40", fallback: "no_image.jpg", class: "rounded-circle") %>
              <% end %>
              <strong>
                <%= post.user.name %>
                <% if post.user.admin == true  %>
                  <i class="bi bi-tools"></i>
                <% end %>
              </strong>
            </div>
            <div class="text-center"><%= attachment_image_tag(post, :image, format: "jpeg", class: "rounded img-fluid") %></div>
              <div class="d-flex">
                <div class="ml-2" id="post_<%= post.id %>"><%= render "favorites/favorite-btn", post: post %></div>
                <div class="ml-2"><%= link_to post.post_comments.count, post_path(post), class: "far fa-comment text-decoration-none" %></div>
                <div class="ml-2 text-muted"><%= l post.created_at %></div>
              </div>
                <%= link_to post_path(post), class: "text-dark text-decoration-none" do %>
                  <p class="ml-2"><%= post.body.truncate(20) %></p>
                <% end %>
            </div>
          <% end %>
      </div>
    </div>
    <div class="col-md-3 mt-5">
      <%= render "search/form" %>
    </div>
  </div>
</div>