<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mt-5">
      <div><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></div>
      <div><%= @user.name %></div>
      <div><%= @user.introduction %></div>
      <td><%= link_to @user.followings.count, user_followings_path(@user) %>フォロー中</td>
      <td><%= link_to @user.followers.count, user_followers_path(@user) %> フォロワー</td>
      <% if @user == current_user %>
        <div><%= link_to "プロフィール編集", edit_user_path, class: "btn btn-success" %></div>
      <% else %>
      <div>
        <% if @isRoom == true %>
          <%= link_to "ダイレクトメッセージ", room_path(@roomId) %>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, :value => @user.id %>
            <% end %>
            <%= f.submit "チャットを始める" %>
          <% end %>
        <% end %>
      <% end %>
      </div>
      <% if @user != current_user %> <!-- フォロー機能　-->
      <% if current_user.following?(@user) %>
      <div><%= link_to "フォローを外す", user_relationships_path(@user.id), method: :delete %></div>
      <% else %>
      <div><%= link_to "フォロー", user_relationships_path(@user.id), method: :post %></div>
      <% end %>
      <% end %>
      <% @posts.each do |post| %>
      <table class="table">
        <thead>
          <td><%= post.body %></td>
        </thead>
      </table>
      <% end %>
    </div>
  </div>
</div>