<div class="container">
  <div class="row">
    <div class="col-md-2 offset-1 mt-5">
      <%= render "layouts/links" %>
    </div>
    <div class="col-md-6 mt-5" style="width:300px;height:800px;overflow:auto;">
      <div><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", class: "rounded-circle") %></div>
      <div class="d-flex flex-row">
        <div class="mr-auto p2">
          <strong>
            <%= @user.name %>
            <% if @user.admin == true %>
              <i class="bi bi-tools" style="color: cornflowerblue;"></i>
            <% end %>
          </strong>
        </div>
        <% if @user == current_user %>
      <div><%= link_to "プロフィール編集", edit_user_path, class: "btn btn-success btn-sm" %></div>
      <% else %>
      <div>
        <% if (current_user.following? @user) && (@user.following? current_user) %>
        <% if @isRoom == true %>
        <div class="mr-2">
          <%= link_to room_path(@roomId), class: "btn btn-outline-primary btn-sm" do %>
            <i class="bi bi-envelope"></i>
          <% end %>
        </div>
          <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, :value => @user.id %>
            <% end %>
            <%= f.submit "チャットを始める" %>
          <% end %>
        <% end %>
        <% end %>
      </div>
      <% if current_user.following?(@user) %>
      <div><%= link_to "フォロー中", user_relationships_path(@user.id), method: :delete, class: "btn btn-primary btn-sm" %></div>
      <% else %>
      <div><%= link_to "フォロー", user_relationships_path(@user.id), method: :post, class: "btn btn-outline-primary btn-sm" %></div>
      <% end %>
      <% end %>
      </div>
      <div><%= @user.introduction %></div>
      <td><%= link_to @user.followings.count, user_followings_path(@user) %>フォロー中</td>
      <td><%= link_to @user.followers.count, user_followers_path(@user) %> フォロワー</td>
      <div>
        <%= render "posts/index", posts: @posts %>
      </div>
    </div>
    <div class="col-md-3 mt-5">
      <%= render "search/form" %>
    </div>
  </div>
</div>