<div class="container">
  <div class="row">
    <div class="col-md-2 offset-1 mt-5">
      <%= render "layouts/links" %>
    </div>
    <div class="col-md-6 mt-5">
      <div>
        <%= form_with model: @post, local:true do |f| %>
        <div>
          <%= f.attachment_field :image %>
        </div>
        <div>
          <%= f.collection_select :genre_id, @genres, :id, :genre_name, prompt: "選択してください", class: "form-controlcd " %>
        </div>
        <div>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <div>
          <%= f.submit class: "btn btn-success" %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 mt-5">
      <%= render "search/form" %>
    </div>
  </div>
</div>