<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= attachment_image_tag(@post.user, :profile_image, size: "48x48", fallback: "no_image.jpg") %>
      <span><%= @post.user.name %></span>
      <%= attachment_image_tag @post, :image, format: "jpeg", size: "566x331" %>
      <div>
        <div id="post_<%= @post.id %>">
          <%= render "favorites/favorite-btn", post: @post %>
        </div>
        <%= @post.body %>
        <div class="post_comments">
          <%= render "post_comments/index", post: @post %>
        </div>
        <div class="comment-form">
          <%= form_with model:[@post, @post_comment] do |f| %>
            <%= f.text_area :comment, placeholder: "コメント" %>
            <%= f.submit "送信" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>