  <div class="row">
    <div class="col-md-2 offset-1 mt-5">
      <div class="sticky-area">
        <%= render "layouts/links" %>
      </div>
    </div>
    <div class="col-md-6 mt-5">
      <div>
   
          <div class="card mb-1 article">
            <div class="card-header bg-transparent">
              <%= link_to user_path(@post.user), class: "text-decoration-none" do %>
                <%= attachment_image_tag(@post.user, :profile_image, size: "40x40", fallback: "no_image.jpg", class: "rounded-circle") %>
              <% end %>
            <strong><%= @post.user.name %></strong>
              <% if @post.user == current_user || current_user.admin? %>
                <td><%= link_to "削除", post_path(@post), method: :delete, data: { confirm: '削除しますか？' }, class: "btn btn-danger" %></td>
              <% end %>
            </div>
            <div><%= attachment_image_tag(@post, :image, format: "jpeg", class: "rounded img-fluid") %></div>
            <div class="d-flex">
              <div class="ml-2" id="post_<%= @post.id %>"><%= render "favorites/favorite-btn", post: @post %></div>
              <div class="ml-2" id=post_<%= @post.id %>><p class="far fa-comment text-decoration-none comments_count"><%= @post.post_comments.count %></p></div>
              <div class="ml-2 text-muted"><%= l @post.created_at %></div>
            </div>
              <%= link_to post_path(@post), class: "text-dark text-decoration-none" do %>
                <p class="ml-2 text-break"><%= @post.body %></p>
              <% end %>
              <div class="card-item post_comments">
                <%= render "post_comments/index", post: @post %>
              </div>
            </div>
        </tr>
        <div class="w-50">
          <%= form_with model:[@post, @post_comment] do |f| %>
            <%= f.text_area :comment, placeholder: "コメント", class: "form-control" %>
            <%= f.submit "送信", class: "" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-5">
      <div class="sticky-area">
        <%= render "search/form" %>
      </div>
    </div>
  </div>
