<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item bi bi-house"><%= link_to "ホーム", posts_path, class: "text-dark text-decoration-none stretched-link" %></li>
    <li class="list-group-item bi bi-person"><%= link_to "プロフィール", user_path(current_user.id), class: "text-dark text-decoration-none stretched-link" %></li>
    <li class="list-group-item bi bi-stickies"><%= link_to "新規投稿", new_post_path, class: "text-dark text-decoration-none stretched-link" %></li>
    <li class="list-group-item bi bi-suit-heart"><%= link_to "いいね一覧", user_favorites_path(current_user), class: "text-dark text-decoration-none stretched-link" %></li>
      <%= link_to user_notifications_path(current_user), class: "text-decoration-none" do %>
        <% if unchecked_notifications.any? %>
         <li class="list-group-item bi bi-bell-fill text-dark">通知</li>
        <% else %>
          <li class="list-group-item bi bi bi-bell text-dark  stretched-link">通知</li>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>